/*------------------------------------
    UTILITY
    - Reset & normalize
    - Variables
        - Breakpoints
        - Colors
        - Padding
        - Transitions
 -----------------------------------*/
 
////////////////////////////////////////
// Reset & normalize
////////////////////////////////////////
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

////////////////////////////////////////
// Variables
////////////////////////////////////////
/* Breakpoints */
$break-sm: 500px;

/* Colors */
$color-white: #ffffff;
$color-black: #000000;
$color-bright: #e2088b;

/* Container Padding */
$container-padding: 1rem 2rem;

/* Transitions */
$hover-transition: all 0.75s ease-in-out;