/*------------------------------------
    FOOTER content section
    - Container
    - Social Media Icon OCNtainer
 -----------------------------------*/

footer {
    background: $color-bright;
    padding: $container-padding;
    text-align: center;

////////////////////////////////////////
// Social
////////////////////////////////////////
    .social {
        display: flex;
        justify-content: flex-end;
        list-style-type: none;

        li {
            display: flex;
            align-content: stretch;
        }

        a {
            text-decoration: none;
            height: 100%;
        }

        svg.social-icon {
            margin: 0 0.5em;
            transition: $hover-transition;
            max-width: 60px;

            &:active,
            &:focus,
            &:hover {
                fill: $color-white;
            } 
        }

    }
} //end footer styles